@mixin df-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin df-row-reverse-between {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

@mixin df-row-between-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

@mixin df-row-between-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

@mixin df-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin df-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin df-column-start-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

@mixin df-column-reverse-center {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

@mixin df-column-starts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin df-column-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}